<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Account Name</th>
      <th>Checkin</th>
      <th>Visit Note</th>
    </tr>

    <% @salesVisits.each do |salesVisit| %>
      <tr>
        <td><%= salesVisit.account_name__c %></td>
        <td><%= salesVisit.check_in__c %></td>
        <td><%= salesVisit.visit_note__c %></td>
      </tr>
    <% end %>
  </table>
</div>
